<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>EmpleosApp Oscar</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menuComponente.html :: menu-fra"></header>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h3>hola como estas hi </h3>
            Puedes buscar por descripción y categoría.
            <!--formulario para buscar datos-->
            <form class="form-inline" th:object="${buscador}" th:action="@{/search}" method="get">
                <input type="text" class="form-control mb-3" th:field="*{descripcion}"
                       placeholder="Escriba una búsqueda">&nbsp;
                <!--combo box-->
                <select class="custom-select custom-select mb-3" th:field="*{categoria.id}">
                    <option selected th:value="${null}">Seleccione una categoría</option>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.nombre}"></option>
                </select>&nbsp;

                <button type="submit" class="btn btn-primary mb-3">Buscar</button>
            </form>
        </div>
    </div>
    <hr>

    <div class="container">
        <h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
        <hr>

        <div class="row" th:each=" v : ${vacante}">
            <div class="col-md-3">
                <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img = ${v.imagen})}"
                     alt="Generic placeholder image" width="220" height="220">
            </div>
            <div class="col-md-9">
                <h2 th:text="${v.nombre}"></h2>
                <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${v.categoria.nombre}"></span></h6>
                <h6 class="card-title"><strong>Publicado: </strong> <span
                        th:text="${#dates.format(v.fecha, 'dd-MM-yyyy')}"></span></h6>
                <p th:text="${v.descripcion}"></p>
                <p><a class="btn btn-secondary" th:href="@{/vacantes/view/{id} (id=${v.id})}" role="button">View
                    details »</a></p>
            </div>
        </div>

        <hr>
    </div> <!-- /container -->

</main>

<footer th:insert="fragments/footerComponet.html ::  pie-fra"></footer>
<div th:insert="fragments/footerComponet.html ::  cdn-js-frag"></div>
</body>

</html>