<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Listado de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>
<header th:insert="fragments/menuComponente.html :: menu-fra"></header>
<main role="main">
    <hr>
    <div class="container">

        <div class="card">
            <h4 class="card-header"><strong>Listado de Ofertas de Trabajo</strong></h4>
            <div class="card-body">
                <a class="btn btn-primary" th:href="@{/vacantes/create}" title="Crear nueva Oferta de Trabajo"
                   role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>

                <a class="btn btn-primary" th:href="@{/tabla}" title="Crear nueva Oferta de Trabajo"
                   role="button"><i class="fas fa-file" aria-hidden="true"></i> Lista Completa</a>
                <hr>
                <div th:if="${msg != null}" class="alert alert-success" th:text="${msg}" role="alert"></div>
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Categoría</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha Pub.</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Destacada</th>
                        <th scope="col">Operaciones</th>
                    </tr>
                    </thead>
                    <tbody th:each=" vt : ${vaca}">
                    <tr>
                        <td th:text="${vt.categoria.nombre}"></td>
                        <td th:text="${vt.nombre}"></td>
                        <td th:text="${vt.fecha}"></td>
                        <td th:text="${vt.estatus}"></td>
                        <td th:text="${vt.destacado == 1 ? 'si' : 'no'}"></td>
                        <td>
                            <a th:href="@{/vacantes/edit/{id} (id=${vt.id})}" class="btn btn-success btn-sm"
                               role="button" title="Editar el registro.">
                                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            </a>
                            <a th:href="@{/vacantes/delete/{id} (id=${vt.id} )}"
                               onclick="confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button"
                               title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
<!--                <nav th:if="${vaca.totalPages > 0}" aria-label="Page navigation example">-->
<!--                    <ul class="pagination justify-content-center">-->

<!--                        <li class="page-item" th:classappend="${vaca.number == 0 ? 'disabled' : ''}">-->
<!--                            <a th:href="@{/vacantes/indexPaginate(page=${vaca.number - 1})}"-->
<!--                               class="page-link">Anterior</a>-->
<!--                        </li>-->

<!--                        <li class="page-item" th:classappend="${i eq vaca.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, vaca.totalPages, 1)}">-->
<!--                            <a class="page-link" th:href="@{/vacantes/indexPaginate?page={tmpPag} (tmpPag=${i-1}) }"-->
<!--                               th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--                        </li>-->

<!--                        <li class="page-item"-->
<!--                            th:classappend="${vaca.number == (vaca.totalPages - 1) ? 'disabled' : ''}">-->
<!--                            <a th:href="@{/vacantes/indexPaginate(page=${vaca.number + 1})}"-->
<!--                               class="page-link">Siguiente</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
            </div>
        </div>
    </div> <!-- /container -->

</main>

<footer th:insert="fragments/footerComponet.html ::  pie-fra"></footer>
<div th:insert="fragments/footerComponet.html ::  cdn-js-frag"></div>
</body>

</html>